{% extends 'layout.njk' %}

  {% block head %}
    <title>Not Found</title>
  {% endblock head %}

{% block content %}
  <div class="card table-container">
    <h1>Ops algo deu errado</h1>

    <p>{{msg}}</p>

  </div>
{% endblock content %}
